.problem_content {
    background-color: #ffffff;
    font-size: 110%;
    border: solid 1px #bbbbbb;
    box-shadow: 5px 5px 5px #bbbbbb;
    padding: 10px;
}

._5p {
  background-color: #adff2f;
  font-weight: bolder;
  color: #000000;
}

._10p {
  background-color: #7fff00;
  font-weight: bolder;
  color: #000000;
}

._15p {
  background-color: #32cd32;
  font-weight: bolder;
  color: #000000;
}

._20p {
  background-color: #008000;
  font-weight: bolder;
  color: #000000;
}

._25p {
  background-color: #9bddff;
  font-weight: bolder;
  color: #000000;
}

._30p {
  background-color: #00b7eb;
  font-weight: bolder;
  color: #000000;
}

._35p {
  background-color: #1e90ff;
  font-weight: bolder;
  color: #000000;
}

._40p {
  background-color: #3f00ff;
  font-weight: bolder;
  color: #000000;
}

._45p {
  background-color: #7b68ee;
  font-weight: bolder;
  color: #000000;
}

._50p {
  background-color: #8a2be2;
  font-weight: bolder;
  color: #000000;
}

._55p {
  background-color: #fcffa4;
  font-weight: bolder;
  color: #000000;
}

._60p {
  background-color: #fefe33;
  font-weight: bolder;
  color: #000000;
}

._65p {
  background-color: #ffd700;
  font-weight: bolder;
  color: #000000;
}

._70p {
  background-color: #ffb347;
  font-weight: bolder;
  color: #000000;
}

._75p {
  background-color: #ff8f00;
  font-weight: bolder;
  color: #000000;
}

._80p {
  background-color: #cb410b;
  font-weight: bolder;
  color: #000000;
}

._85p {
  background-color: #a40000;
  font-weight: bolder;
  color: #000000;
}

._90p {
  background-color: #d73b3e;
  font-weight: bolder;
  color: #000000;
}

._95p {
  background-color: #ff0000;
  font-weight: bolder;
  color: #000000;
}

._100p {
  background-color: #ff0090;
  font-weight: bolder;
  color: #000000;
}

/* From https://codersblock.com/blog/customizing-github-gists/ */

@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans');

body {
  margin: 20px;
  font: 16px 'Open Sans', sans-serif;
}

body .gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #f1f3f5;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  /*padding-top: 15px !important;*/
}

body .gist tr:last-child td {
  /*padding-bottom: 15px !important;*/
}

body .gist .blob-num {
  color: #000000;
  background-color: #adb5bd;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

body .gist .blob-code {
    filter: hue-rotate(29deg) brightness(122%) contrast(200%) saturate(200%);
}